{% extends 'default.html' %}

{% block title%}
    <title>Aide - Casino Python</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h2>Poker éléctronique</h2>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h4>Règles du jeu:</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Le poker éléctronique est un jeu de type machine à sous, le joueur choisi sa mise, appui sur le bouton "jouer" et la machine lui propose un jeu de 5 cartes tirés d'un jeu de 52 cartes. Le jouer peut alors choisir des cartes à garder, il peut choisir d'en garder 0, 1, 2, 3 ou 4, puis rappuie sur le bouton. Selon le choix du joueur, la machine tire de nouveaux le nombre de carte qu'il faut pour constituer le tirage final. Enfin le joueur récupère ses gains qui correspondent au montant de sa mise multiplié par le gain correspondant à la combinaison obtenue sur le tirage final. Si il n'a aucune combinaison il perd sa mise.</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Combinaison et gains:</b>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Paire : 2 cartes identiques
            <span class="badge badge-primary badge-pill">1 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Double Paire : deux fois 2 cartes identiques
            <span class="badge badge-primary badge-pill">2 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Brelan : 3 cartes identiques
            <span class="badge badge-primary badge-pill">3 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Quinte : 5 cartes identiques
            <span class="badge badge-primary badge-pill">4 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Flush : 5 cartes de la même couleur
            <span class="badge badge-primary badge-pill">6 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Full : 1 paire + 1 brelan
            <span class="badge badge-primary badge-pill">9 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Carré : 4 cartes identiques
            <span class="badge badge-primary badge-pill">25 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Quinte Flush : 1 quinte de la même couleur
            <span class="badge badge-primary badge-pill">50 fois la mise</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Quinte Flush Royale : 1 quinte flush avec as, roi, dame, valet, 10
            <span class="badge badge-primary badge-pill">250 fois la mise.</span>
            </li>
        </ul>
    </div>
{% endblock %}